#outer{
    width: 100px;
    height: 200px;
    padding: 30px;
       
    background-color:black;
    margin: 100px;
    
    border-width: 5px;
    border-style: solid; 
    border-color: brown;
}

#red{
    width: 50px;
    height: 50px;
    margin: 20px;
    border-radius: 50%;
    background-color: red;

}

#yellow{
    width: 50px;
    height: 50px;
    margin: 20px;
    border-radius: 50%;
    background-color: rgb(252, 252, 12);

}
#green{
    width: 50px;
    height: 50px;
    margin: 20px;
    border-radius: 50%;
    background-color: green;

}