#outer{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: black;
    color: white;
    position: relative;
    top: 100px;
    left: 100px;   
    rotate:z 320deg; 

     transform: scale(2); 
     transform: translate(80px);
    transform: skew(30deg);




}


