*{
    padding: 0;
    margin: 0;
}
#navbar{

    height: 50px;
    background-color:rgb(71, 141, 203) ;
}
#logo{
    width:100px;
    color: yellow;
    margin-left: 50px;
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
}
#input{
    margin-top: 10px;
    margin-left:150px;
    width: 400px;
    height: 25px;
}
button{
    height: 30px; 
    width: 50px; 
}
#cart{
    text-decoration: none;
    margin-left: 200px;
    font-size: 20px;
    font-weight: 700;
}
#login{
    text-decoration: none;
    margin-left: 200px;
    font-size: 20px;
    font-weight: 700;
    color: yellow;

}
.box{
    font-size: large;
    background-color:black;
    margin: 100px;
    color: white;
    text-align: center;
    display: inline-block;

}
footer{
    height: 50px;
    background-color: blue;
    text-decoration: none;
}


